<div class="flex gap-8 w-[calc(100vw-26rem)] shadow-lg">
  <div class="overflow-hidden">
    <a class="cursor-pointer">
      <img [src]="placeInfo().img"
           class="w-md h-52 rounded-xl object-cover
                  hover:scale-110 duration-150 delay-100">
    </a>
  </div>

  <div class="flex flex-col flex-1 gap-3 p-5">
    <span class="text-3xl font-bold line-clamp-1">
      {{placeInfo().title}}
    </span>
    <span class="font-bold text-xl">
      {{ placeInfo().category }}
    </span>
        <p class="text-md line-clamp-3">
      {{ placeInfo().description }}
    </p>
  </div>
</div>
