@if(activedDropDown()){
  <div class="fixed top-0 left-0 w-screen h-screen"
       (click)="emitCloseDropdown()"
  >

  </div>
  <div class="bg-[#f3eae8] w-50 h-auto absolute z-60 top-full -right-5 shadow-xl
              flex flex-col p-4"
  >

    <div class="flex items-center gap-2 cursor-pointer">
      <img src="https://static.vecteezy.com/system/resources/previews/013/360/247/non_2x/default-avatar-photo-icon-social-media-profile-sign-symbol-vector.jpg"
          class="size-10 object-cover rounded-full"
      >
      <span class="text-sm block hover:text-stone-700 duration-150 delay-75"
            (click)="toggleLoginModal()"
            (click)="emitCloseDropdown()"
      >
        Iniciar sesión/Registrarse
      </span>

    </div>

  </div>
}

<app-login-modal [activeLogin]="activedLoginModal"
                 (disableLoginModal)="toggleLoginModal()"
></app-login-modal>
