<div class="bg-[#171211] w-full p-15 flex flex-col gap-8 items-center">

  <div>
    <img src="logo.png" class="w-45 h-12 grayscale-100 invert contrast-300">
  </div>

  <div class="flex gap-8">

    <a>
      <lucide-angular [img]="Instagram" class="size-8 stroke-white hover:stroke-gray-300 duration-150"></lucide-angular>
    </a>

    <a>
      <lucide-angular [img]="Linkedin" class="size-8 stroke-white"></lucide-angular>
    </a>

    <a>
      <lucide-angular [img]="Facebook" class="size-8 stroke-white"></lucide-angular>
    </a>

  </div>

  <div class="flex text-base font-bold text-white gap-10">
    <a class="cursor-pointer hover:text-gray-200 duration-150">Acerca</a>
    <a class="cursor-pointer hover:text-gray-200 duration-150">Autores</a>
    <a class="cursor-pointer hover:text-gray-200 duration-150">Entradas</a>
    <a class="cursor-pointer hover:text-gray-200 duration-150">Aviso de privacidad</a>
  </div>
</div>

