<div class="bg-[#FDD7CC] w-full flex items-center px-8 py-4 justify-center lg:justify-between
            fixed top-0 z-50">
  <!-- LOGO -->
  <div class="hidden lg:block">
    <img src="logo.png" class="w-50 h-15" />
  </div>

  <!-- BUTTONS  -->
  <nav class="font-bold text-xl flex items-center gap-10">
    <a class="cursor-pointer"> Inicio </a>
    <a class="cursor-pointer"> Lugares </a>
    <a class="cursor-pointer"> Noticias </a>
    <a class="cursor-pointer"> Publicaciones </a>
    <a class="cursor-pointer">
      <svg class="size-12">
        <use xlink:href="sprite.svg#user"></use>
      </svg>
    </a>
  </nav>
</div>
