
<app-slide-control class="absolute top-0 left-0 w-full z-10 pt-25"
                   [selectedBanner]="selectedBanner()"
                   (clickBanner)="clickedBanner($event)">

</app-slide-control>

@if(changerClass){
  <div class="relative">
    <app-banner class="top-0 left-0 w-full animate-fade-in duration-150"
                [banner]="banners[selectedBanner()]">
    </app-banner>

    <app-banner class="top-0 left-0 w-full animate-fade-out duration-150 absolute pointer-events-none"
                [banner]="banners[previousBanner()]">
    </app-banner>
  </div>
}

@if(!changerClass){
  <div class="relative">
    <app-banner class="top-0 left-0 w-full animate-fade-in duration-150"
                [banner]="banners[selectedBanner()]">
    </app-banner>

    <app-banner class="top-0 left-0 w-full animate-fade-out duration-150 absolute pointer-events-none"
                [banner]="banners[previousBanner()]">
    </app-banner>
  </div>
}
