<div class="relative">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Ex_Convento_Franciscano_San_Diego_de_Alcal%C3%A1%2CCuautla%2CMorelos%2CM%C3%A9xico_%289673733085%29_%28cropped%29.jpg"
       class="w-full h-60 object-cover rounded-xl"
  >

  <div class="absolute top-0 w-full h-full rounded-xl
              bg-linear-to-r from-gray-800/90 to-transparent"
  >

  <div class="absolute top-0 p-5 flex flex-col gap-2">
    <div>
      <span class="text-2xl font-bold text-gray-100 flex flex-col">
        Heróica e Histórica
      </span>
      <span class="text-4xl font-extrabold text-gray-100">
        Ciudad de Cuautla
      </span>
    </div>

    <div class="w-3/4">
      <p class="text-gray-100 line-clamp-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse  facilisis scelerisque
        risus, semper rutrum diam semper tincidunt.  Integer vitae molestie risus, quis lacinia diam.
        In dolor ligula,  sollicitudin eu scelerisque ultricies, pellentesque in libero. Vivamus  sed orci
        eros. Aenean viverra lorem non tristique fermentum. Suspendisse tristique tortor vel erat
        sagittis.
      </p>
    </div>

  </div>



</div>
