<section class="bg-gray-100 p-3 rounded-md">
  <div class="">
    <span class="text-2xl font-bold">SELECCIONA UNA CATEGORIA</span>
    <!-- <div class="bg-gray-200 rounded-md flex gap-1 items-center px-2">
      <lucide-angular [img]="Search" class="size-4 stroke-4 stroke-gray-400 -mb-1"></lucide-angular>
      <input type="text"
            placeholder="Categoria..."
            class="w-full outline-0 p-1 font-bold text-gray-600 placeholder-stone-400"
      >
    </div> -->
  </div>

  <div class="flex flex-col gap-2 mt-2 pl-2">
    @for (categorie of categories(); track $index) {
      <a class="cursor-pointer hover:bg-gray-200 px-3 rounded-md duration-150"
         (click)="emitCategorie(categorie)"
         [ngClass]="{'hover:bg-gray-300 bg-gray-300':selectionControl()==categorie}"
         >
        <span>{{categorie}}</span>
      </a>
    }
  </div>

</section>
