@if( activedRegister() ) {
    <div class="fixed top-0 left-0 bg-gray-800/50 h-screen w-screen z-60 duration-150 flex justify-center items-center"
         (click)="emitDisable()"
         [ngClass]="{'animate-fade-out-left':fadeOut}"
    >
      <div class="h-10/12 w-1/2 flex bg-white rounded-2xl animate-fade-in-right
                  overflow-y-auto"
           (click)="$event.stopPropagation()"
      >

        <!-- Contenido  -->
        <div class="px-20 py-10 w-full h-full flex flex-col gap-6">

            <h1 class="text-4xl font-extrabold w-fit mx-auto border-b-4 pb-5">
                REGISTRO DE USUARIO
            </h1>

            <!-- Credenciales de usuario  -->
            <div class="flex flex-col gap-10">
                <fieldset class="flex gap-3 w-full flex-col">

                  <!-- Nombre -->
                  <label for="name" class="font-bold">
                      Nombre
                  </label>

                  <input type="text" id="name" name="name"
                          class="focus:ring-2 focus:ring-stone-500 transition-all ease-out duration-150
                                outline-0 border-2 border-stone-400 py-2 px-2 font-normal">

                  <!-- Apellido parterno -->
                  <label for="lastname_p" class="font-bold">
                      Apellido paterno
                  </label>

                  <input type="text" id="lastname_p" name="lastname_p"
                          class="focus:ring-2 focus:ring-stone-500 transition-all ease-out duration-150
                                outline-0 border-2 border-stone-400 py-2 px-2 font-normal">

                  <!-- Apellido materno -->
                  <label for="lastname_p" class="font-bold">
                      Apellido materno
                  </label>

                  <input type="text" id="lastname_p" name="lastname_p"
                          class="focus:ring-2 focus:ring-stone-500 transition-all ease-out duration-150
                                outline-0 border-2 border-stone-400 py-2 px-2 font-normal">

                  <!-- Correo -->
                  <label for="email" class="font-bold">
                      Correo
                  </label>

                  <input type="email" id="email" name="email"
                          class="focus:ring-2 focus:ring-stone-500 transition-all ease-out duration-150
                                outline-0 border-2 border-stone-400 py-2 px-2 font-normal">


                  <!-- Contraseña -->
                  <label for="username" class="font-bold">
                      Contraseña
                  </label>

                  <input type="password" id="username" name="username"
                          class="focus:ring-2 focus:ring-stone-500 transition-all ease-out duration-150
                                outline-0 border-2 border-stone-400 py-2 px-2 font-normal text-sm">

                </fieldset>

            <div class="mx-auto flex flex-col gap-5">
              <button class="bg-green-900 text-xl font-bold text-white w-fit px-8 py-2
                                rounded-xl cursor-pointer hover:bg-green-950 delay-100
                                duration-200 mb-10"
              >
                  Registrarse
              </button>
            </div>

          </div>

        </div>

      </div>

    </div>
  }
